*{
    font-family: "Inter", sans-serif;
}
.whatsappBtn{
    border: 1px solid #27AE60;
    padding: 10px 18px;
    color: #27AE60 ;

}
.whatsappBtn:hover{
    border: 1px solid #27AE60;
}
.whatsappBtn i{
    color: #27AE60;
}
.call{
    background-image: linear-gradient(to right, #0ACEFE, #2699FB);
    color: white;
}
.banner-content h1{
    font-size: 52px;
    font-family: Inter;
    font-weight: bold;
}
.banner-content p{
    font-size: 22px;
}
span{
    color:#2699FB
}
.banner-content ul{
    list-style-type: none;
}
.banner-content ul li{
    font-size: 22px;
}
.banner-content ul li i{
    color: #2699FB;
}
.banner-contentBtn button{
    width: 50%  ;
    padding: 10px 0px;
    border-radius: 5px;
}
.banner-contentBtn button:first-child{
    background-image: linear-gradient(to right,  #0ACEFE, #2699FB );
    color: white;

}
.bannerForm{
    padding:40px;
    border-radius: 10px;
}
.bannerForm button{
    background: linear-gradient(to right, #0ACEFE, #2699FB );
    color: white;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
}
.counterSection h2{
    font-size: 30px;    
    font-weight: bold;
    color: #2699FB;
}
.highlight-section{
    background-color: #f7faff;
}
.highlight-section h2{
    color: #0A2134;
    font-size: 36px;
    font-weight:700;
}
.highlight-section p{
    font-size: 18px;
}
.highlightItems h4{
    font-size: 20px;
    font-weight: 600;
}
.highlightItems p{
    font-size: 15px;
}